extends ./layout.jade
block contenido
	div(class="col-md-8 remove-float center-block text-center big-top-space")
		h1 Bienvenidos al Repositorio de Imágenes
		h2 Instrucciones:
		p 1.- Regístrate e Inicia Sesión
		p 2.- Haz click en Subir Imágenes
		p 3.- Comienza a vizualizarlas dando click en Inicio
		p 4.- Edita los datos en Mis Imágenes
		p Nota: Sólo puedes ver las imágenes que subiste, por lo que es un repo privado
		a(href="/login", class="right-space" class="big-text") Iniciar Sesión
		a(href="/signup", class="big-text") Registrarse