.right-space {
	margin-right: 1em;
}

.remove-float{
	float: none;
}

.left{
	margin-left: 0px;
	padding-left: 0px;
	text-align: left;
}

.top-space{
	margin-top: 1.5em;
}

.big-top-space{
	margin-top: 100px;
}

.white-text{
	color: white;
}

.large-padding {
	padding: 10px 15px;
}

.black{
	background-color: #222;
}

nav{
	text-align: right;
}

nav li {
	display: inline-block; /* para colocar elementos uno al lado del otro */
	margin-right: 1em;
	font-size: 1.2em;
}

nav li a{
	color: white;
}

.big-text{
	font-size: 2em;
}

nav li a:hover{
	color: white;
}

.white{
	background-color: white;
}

.border{
	border: solid 1px #eee;
}

.tr:nth-of-type(odd){  /* Toma los elementos impares de los los hijos tr (odd-impar, even-par) */
	background-color: #eee;
}

form.link{
	display: inline-block;
}

form.link input[type="submit"]{
	background-color: transparent;
	border: none;
	color: rgba(200,50,50);
}

.img-container{
	width: 700px;
	max-width: 100%;
	margin: 0 auto;
}

.img-container h1, .img-container h2{
	padding: 15px;
	border-bottom: 10px solid #222;
}

.img-container p{
	text-align: right;
	font-size: 1.2em
	margin-top: 1em;
}

img{
	max-width: 100%;
}
