extends ../../layout.jade
block contenido	
	div(class="col-md-6 remove-float center-block text-center big-top-space")
		h1 Editar Título
	div(class="col-md-6 remove-float center-block")
		form(action="/app/imagenes/#{imagen.id}?_method=PUT", method="POST")
			//por default no se puede mandar PUT O DELETE EN EL FORM, entonces se instala un complemento llamado: method-override
			//y lo mandamos en la url					
			div(class="form-group")
				label(for="title") Título:
				input(type="text",name="title", placeholder="Título de la imagen", id="title", class="form-control", value="#{imagen.title}")
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit", value="Guardar", class="btn btn-info")