extends ../layout.jade
block contenido
	h1 Bienvenido: #{user.username}
	//#{variable o array.elemento} interpolar objetos con javascript, mostrarlos en pantalla
	a(href="/app/imagenes/new") Subir Imagen